body {
    margin: 0;
    padding: 0 auto;
    text-align: center;
}

#heading {
    margin: 10px auto;
    font-size: 36px;
}

#game {
    width: 1000px;
}

#controls {
    margin: 10px auto;

}

#rules {
    margin: 10px auto;
}

ol {
    list-style-position: inside;
}